<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Película</h2>
    <section>
        <img src="<%= movies.image %>" alt="">
        <h3><%= movies.title %></h3>
        <p><%= movies.genre %></p>
       
    </section>
</body>
</html>